# API
fastapi[standard]
uvicorn[standard]

# env
python-dotenv

# DB
sqlalchemy
psycopg2
databases[aiosqlite] # async
databases[asyncpg] # async
pgvector

# logs
rich
asgi-correlation-id
python-json-logger

# AI
openai
transformers

# Security
python-jose
python-multipart
passlib[bcrypt]

# validations
pydantic-settings
pydantic[email]

# test
httpx
pytest
pytest-mock

# dev
ruff
isort

# email
aiosmtplib

# files
aiofiles
b2sdk

# Sentry
sentry-sdk[fastapi]

# Docs
pdfminer.six
docx2txt

# vector processing
numpy
scikit-learn
nltk
